input {
  file {
    path => "{{ influxdb_log_dir }}/*.log"
    type => "influxdb"
  }
{% if influxdb_use_nginx %}  
  file {
    path => "{{ influxdb_nginx_log_dir }}/*.log"
    type => "influxdb"
  }
{% endif %}
}
